/*Optics*/
html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;

}

.flex {
  display: flex;
}
header {
  align-items: center;
  height: 3rem;
  margin-top: 1rem;
  background-color: cadetblue;
  color: white;
  display: inline-flex;
}
header img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}
header h1 {
  font-size: 1rem;
}
nav {
  text-align: right;
  margin-right: 1rem;
  flex-grow: 1;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
nav span {
  padding-left: 1rem;
  padding-right: 1rem;

}
#banner {
  background-image: url("images/banner.png");
  background-size: cover;
  height: 30rem;
  margin-bottom: 5rem;
}
.box {
  display: inline-block;
  position: relative;
  left: 900px;
  background-color: white;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  margin-top: 10rem;
  text-align: right;
}

#icons .flex {
  justify-content: center;
  height: 16rem;
}

.paper {
  text-align: justify;
  width: 5rem;
  height: 8rem;
  margin-left: 6rem;
  margin-right: 6rem;
}
.paper img {
  text-align: center;
  display: block;
  margin:auto;
  width: 3.5rem;
}

.paper p {
  text-align: center;
}

.ruler {
  text-align: justify;
  height: 8rem;
  width: 5rem;
  margin-left: 6rem;
  margin-right: 6rem;
}
.ruler img {
  text-align: center;
  display: block;
  margin:auto;
  width: 5rem;
}

.ruler p {
  text-align: center;
}

.truck {
  text-align: justify;
  width: 5rem;
  height: 8rem;
  margin-left: 6rem;
  margin-right: 6rem;
}
.truck img {
  text-align: center;
  display: block;
  margin:auto;
  width: 5rem;
}

.truck p {
  text-align: center;
}

#blue .flex {
  justify-content: space-around;
}

.phil h2 {
  width: 10rem;
  background-color: cadetblue;
  padding-left: 1.25rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.app h2 {
  width: 10rem;
  background-color: cadetblue;
  padding-left: 1.25rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;

}
.phil p {
  width: 20rem;
  margin-right: 5%;
}

.app p {
  width: 20rem;
  margin-right: 5%;
}
#copy .flex {
  margin-top: 5rem;
  padding: 4rem;
  background-color: azure;
  align-items: center;
}
#copy img {
  height: 1.5rem;
  margin-right: 1rem;
}
