/*Optics*/
html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;

}

.flex {
  display: flex;
}
header {
  align-items: center;
  height: 3rem;
  margin-top: 1rem;
  background-color: cadetblue;
  color: white;
  display: inline-flex;
}
header img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}
header h1 {
  font-size: 1rem;
}
nav {
  text-align: right;
  margin-right: 1rem;
  flex-grow: 1;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
nav span {
  padding-left: 1rem;
  padding-right: 1rem;

}
#banner {
  background-image: url("images/banner.png");
  background-size: cover;
  height: 30rem;
  margin-bottom: 5rem;
}
.box {
  display: inline-block;
  position: relative;
  left: 900px;
  background-color: white;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  margin-top: 10rem;
  text-align: right;
}

#icons .flex {
  justify-content: center;
  height: 16rem;
  margin-bottom: 3rem;
}

.paper {
  text-align: justify;
  width: 10rem;
  margin-left: 6rem;
  margin-right: 6rem;
}
.paper img {
  text-align: center;
  display: block;
  margin:auto;
}

.paper p {
  text-align: center;
}

.ruler {
  text-align: justify;
  width: 10rem;
  margin-left: 6rem;
  margin-right: 6rem;
}
.ruler img {
  text-align: center;
  display: block;
  margin:auto;
}

.ruler p {
  text-align: center;
}

.truck {
  text-align: justify;
  width: 10rem;
  margin-left: 6rem;
  margin-right: 6rem;
}
.truck img {
  text-align: center;
  display: block;
  margin:auto;
}

.truck p {
  text-align: center;
}
